language: java

branches:
  only:
  - main

jobs:
  include:
    - language: java
      jdk: openjdk14
      cache:
        directories:
          - '$HOME/.m2/repositroy'
          - '$HOME/.gradle'
      install:
        - chmod +x gradlew
      script:
        - ./gradlew clean build
    - language: node_js
      node_js: 14
      cache: npm
      before_script:
        - cd frontend
        - npm install
      script:
        - npm run build
before_deploy:
  - mkdir -p before-deploy
  - cp scripts/*.sh before-deploy/
  - cp appspec.yml before-deploy/
  - cp build/libs/*.jar before-deploy/
  - cd before-deploy && zip -r before-deploy
  - cd ../ && mkdir -p deploy
  - mv before-deploy/before-deploy.zip deploy/software-board.zip

deploy:
  - provider: s3
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY
    bucket: software-board
    region: ap-northeast-2
    skip_cleanup: true
    acl: private
    local_dir: deploy
    wait-until-deployed: true
    on:
      branch: main
  - provider: codedeploy
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY
    bucket: software-board
    key: software-board.zip
    bundle_type: zip
    application: software-board-app # 웹 콘솔에서 등록한 CodeDeploy 어플리케이션
    deployment_group: software-board-app-group # 웹 콘솔에서 등록한 CodeDeploy 배포 그룹
    region: ap-northeast-2
    wait-until-deployed: true
    on:
      branch: main
notifications:
  email:
    recipients:
      - jeaun80@gmail.com